.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
assets/uploads/fotografias/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
application/config/database.php
archivos_recepcion/FormatoOasis34758.pdf
archivos_recepcion/MAJFP1GD6FC137882/34762/voc-2.mp3
archivos_recepcion/MAJFP1GD6FC137882/34798/voc-1.mp3
archivos_recepcion/MAJFP1GD6FC137882/34798/voc-2.mp3

.vscode/
